/* General Reset */
html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}

/* Typography */
h1 {
    text-align: center;
}

/* Layout */
main {
    display: flex;
}

article, section {
    flex: 4;
}

aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
}

aside button {
    height: 60px;
    width: 200px;
    margin: 5px;
}

/* Pre-setup Section */
.start-section {
    margin: auto;
    width: 30%;
    min-width: 300px;
    padding: 20px;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.start-btn{
    padding: 50px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;

    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-btn:hover {
    background-color: #2980b9;
}

/* disabled Elements */
.disable {
    display: none;
}

/* Minefield */
#mine-field {
    margin: 0 auto;
}

.cell {
    width: 60px;
    height: 60px;
    border: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.cell-hidden {
    opacity: 0;
}

/* Cell Types */
.cell[type='mine'] {
    background-image: url("../images/icons/cell/mine.svg");
}

.cell[type='flag'] {
    background-image: url("../images/icons/cell/flag.svg");
}

.cell[type='0mine'] {
    background-image: url("../images/icons/none.png");
}

.cell[type='1mine'] {
    background-image: url("../images/icons/cell/1mines.svg");
}

.cell[type='2mine'] {
    background-image: url("../images/icons/cell/2mines.svg");
}

.cell[type='3mine'] {
    background-image: url("../images/icons/cell/3mines.svg");
}

.cell[type='4mine'] {
    background-image: url("../images/icons/cell/4mines.svg");
}

.cell[type='5mine'] {
    background-image: url("../images/icons/cell/5mines.svg");
}

.cell[type='6mine'] {
    background-image: url("../images/icons/cell/6mines.svg");
}

.cell[type='7mine'] {
    background-image: url("../images/icons/cell/7mines.svg");
}

.cell[type='8mine'] {
    background-image: url("../images/icons/cell/8mines.svg");
}
